* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.body {
  line-height: 1.6;
  color: #f4ebeb;
  background-color: #f2e8e8;
}

.hero {
  background: url('./1st-section.jpg') no-repeat center center/cover;
  height: 90vh;
  color: #fff;
  text-align: center;
  position: relative;
}

.nav ul {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 30px;
}

.nav ul li {
  margin: 5px 0;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  background: rgba(249, 246, 246, 0.3);
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}
.hero-content a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f8f4f4;
}

.btn {
  background: rgb(234, 234, 79);
  color: rgb(241, 234, 234);
  padding: 12px 24px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn.small {
  font-size: 0.9rem;
  padding: 8px 16px;
}

.about {
  background-image: url("./2nd-section.jpg");
  color: #fff;
  padding: 15vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text ul {
  margin-top: 10px;
}

.features {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feature {
  flex: 1 1 40%;
  background: #111010;
  padding: 20px;
  margin: 10px 0;
}

.portfolio {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-image: url(./4th-section.jpg);
}

.card {
  margin: 0 10px;
  background: #111111;
  color: #0c0b0b;
  text-align: center;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

.card span {
  color: rgb(183, 129, 28);
}

.timeline {
  background-image: url("./5th-section.jpg");
  text-align: center;
  padding: 40px;
}

.timeline img {
  max-width: 600px;
  width: 100%;
}

.years button {
  margin: 10px 5px;
  padding: 10px 20px;
  background: #111;
  border: 1px solid orange;
  color: white;
  cursor: pointer;
}

.years .active {
  background: orange;
}

.contact {
  display: flex;
  padding: 40px;
  background: #1a1a1a;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.map {
  flex: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f4ecec;
}

footer .socials a {
  margin: 0 10px;
  color: #1f1616;
  text-decoration: none;
}
